<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>AS209306 SohaNET</title>
		<link rel="stylesheet" type="text/css" href="css/god.css" />
	</head>
	<body>
		<div class="world">
			<header>
				<h1>AS209306 SohaNET</h1>
				<p i18n>Personal & Educational & Experimental</p>
			</header>
			<nav>
				<a i18n href="{{ url('index.html') }}">Home</a>

				<a i18n class="narrow" href="{{ url('lir.html') }}">LIR</a>
				<a i18n class="wide" href="{{ url('lir.html') }}">LIR Service</a>
				
				<a i18n class="narrow" href="https://sohaj.in">Soha</a>
				<a i18n class="wide" href="https://sohaj.in">About Soha</a>
				
				<div class="placeholder"></div>
				{% if _lang == 'en' %} <a href="{{ i18nSwitch('zh') }}">中</a>
				{% elseif _lang == 'zh' %} <a href="{{ i18nSwitch('en') }}">En</a>
				{% endif %}
			</nav>
			<main>
				{% block main %}{% endblock %}
			</main>
			<nav>
				<div class="placeholder"></div>
				<a href="https://www.peeringdb.com/asn/209306">@PeeringDB</a>
				<a href="https://bgp.tools/as/209306">@BGP.Tools</a>
				<a href="https://bgp.he.net/AS209306">@HE</a>
			</nav>
			<footer i18n>
				&copy; 2021, SohaNET. Made by Soha Jin and the good old days. 
			</footer>
		</div>
	</body>
</html>
